Repository Kleostro/RSSence-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, styling

.github/labeler.yml:

ci:
  - any:
      - changed-files:
          - any-glob-to-any-file: '.github/*'
          - any-glob-to-any-file: '.husky/*'
          - any-glob-to-any-file: '.husky_scripts/*'
          - any-glob-to-any-file: '.lintstagedrc'
          - any-glob-to-any-file: '.commitlintrc.json'
          - any-glob-to-any-file: '.validate-branch-name.cjs'
      - head-branch:
          - '^ci'

chore:
  - any:
      - changed-files:
          - any-glob-to-all-files: '*'
      - head-branch:
          - '^chore'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

feature:
  - head-branch:
      - '^feat'

fix:
  - head-branch:
      - '^fix'
      - '^hotfix'

performance:
  - head-branch:
      - '^perf'

refactor:
  - head-branch:
      - '^refactor'

style:
  - head-branch:
      - '^style'

test:
  - any:
      - head-branch:
          - '^test'
      - changed-files:
          - any-glob-to-any-file: '**/*.spec.ts'

styling:
  - changed-files:
      - any-glob-to-any-file: '**/*.scss'

sprint1:
  - head-branch: 'RS-01'

sprint2:
  - head-branch: 'RS-02'

sprint3:
  - head-branch: 'RS-03'

sprint4:
  - head-branch: 'RS-04'

sprint5:
  - head-branch: 'RS-05'

ci: add request review action
  .github/workflows/request_review.yml
Labels: none

fix: branch validation pattern example
  .validate-branch-namerc.cjs
Labels: none

ci: update PR template
  .github/pull_request_template.md
Labels: documentation

feat: implement header
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  test.txt
Labels: styling

feat: implement theme switch service
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/services/theme-switch/theme-switch.service.ts
Labels: none

test: implemented functionality
  angular.json
  eslint.config.js
  src/app/app.component.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/services/theme-switch/theme-switch.service.spec.ts
  test.txt
Labels: none

feat: implement routing
  angular.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/auth/components/login-form/login-form.component.html
  src/app/auth/components/login-form/login-form.component.scss
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/components/logout/logout.component.html
  src/app/auth/components/logout/logout.component.scss
  src/app/auth/components/logout/logout.component.spec.ts
  src/app/auth/components/logout/logout.component.ts
  src/app/auth/components/registration-form/registration-form.component.html
  src/app/auth/components/registration-form/registration-form.component.scss
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/guards/.gitkeep
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.scss
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/registration/registration.component.html
  src/app/auth/pages/registration/registration.component.scss
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/auth/pages/registration/registration.component.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/pages/not-found/not-found.component.html
  src/app/core/pages/not-found/not-found.component.scss
  src/app/core/pages/not-found/not-found.component.spec.ts
  src/app/core/pages/not-found/not-found.component.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
  src/app/home/pages/home/home.component.html
  src/app/home/pages/home/home.component.scss
  src/app/home/pages/home/home.component.spec.ts
  src/app/home/pages/home/home.component.ts
Labels: styling

feat: implememt user registration
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.ts
  src/app/app.config.ts
  src/app/auth/components/registration-form/registration-form.component.html
  src/app/auth/components/registration-form/registration-form.component.scss
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/registration/registration.component.html
  src/app/auth/pages/registration/registration.component.scss
  src/app/auth/pages/registration/registration.component.ts
  src/app/auth/validators/validators.ts
  src/environment/environment.ts
Labels: styling

fix: remove failing tests
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/core/services/navigation/navigation.service.spec.ts
Labels: none

fix: tests
  src/app/app.component.spec.ts
  src/app/app.component.ts
Labels: none

fix: add taiga import
  src/app/auth/components/registration-form/registration-form.component.ts
Labels: none

chore: update eslint config with no-relative-path
  eslint.config.js
  package.json
  src/app/api/constants/endpoints.ts
  src/app/api/services/sign-up/sign-up.service.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/logout/logout.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/registration/registration.component.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/pages/not-found/not-found.component.spec.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/theme-switch/theme-switch.service.spec.ts
  src/app/home/pages/home/home.component.spec.ts
  src/main.ts
Labels: none

refactor: update sign-up api service
  src/app/api/constants/endpoints.ts
  src/app/api/services/sign-up/sign-up.service.ts
  src/app/api/types/auth-response.ts
Labels: none

feat: implement token services
  src/app/api/services/refreshToken/refresh-token.service.spec.ts
  src/app/api/services/refreshToken/refresh-token.service.ts
  src/app/api/services/token/token.service.spec.ts
  src/app/api/services/token/token.service.ts
  src/app/constants/store-keys.ts
Labels: none

chore: update eslint rule no-unused-import
  eslint.config.js
Labels: none

refactor: user registration
  src/app/api/types/error-response.ts
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/utils/trim-data.ts
Labels: none

fix: tests config
  jest.config.ts
  tsconfig.json
Labels: none

test: cover main functionality
  src/app/api/services/refreshToken/refresh-token.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/utils/tests.spec.ts
Labels: none

Apply suggestions from code review
  src/app/api/services/refreshToken/refresh-token.service.ts
Labels: none

fix: token service
  eslint.config.js
  public/netlify.toml
  src/app/api/services/refreshToken/refresh-token.service.spec.ts
  src/app/api/services/refreshToken/refresh-token.service.ts
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/utils/trim-data.ts
Labels: none

ci: update PR template netlify badge
  .github/pull_request_template.md
Labels: documentation

feat: implement error interceptor with custom error
  src/app/api/interceptors/error-interceptor/error-interceptor.ts
  src/app/api/models/api-error.ts
  src/app/app.config.ts
Labels: none

chore: add zod
  package.json
  src/app/api/schemas/api-error-response.ts
  src/app/api/schemas/auth-response.ts
  src/app/api/types/auth-response.ts
  src/app/api/types/error-response.ts
Labels: none

feat: implement message service
  src/app/api/services/refresh-token/refresh-token.service.spec.ts
  src/app/api/services/refresh-token/refresh-token.service.ts
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.ts
  src/app/shared/services/constants/message-templates.ts
  src/app/shared/services/constants/message.ts
  src/app/shared/services/message.service.spec.ts
  src/app/shared/services/message.service.ts
  src/app/utils/string-template.ts
  src/app/utils/tests/trim-data.spec.ts
Labels: none

feat: update auth service
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
Labels: none

feat: add form loader
  src/app/auth/components/registration-form/registration-form.component.html
  src/app/auth/components/registration-form/registration-form.component.ts
Labels: none

fix: remove unnecessary template
  src/app/shared/services/constants/message-templates.ts
Labels: none

feat: replace taiga with primeng
  angular.json
  package.json
  src/app/app.component.html
  src/app/app.config.ts
  src/app/core/services/theme-switch/theme-switch.service.ts
  src/app/utils/my-preset.ts
Labels: none

feat: update message service with prime component
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/services/message.service.ts
Labels: none

feat: update registration with prime form
  public/styles/variables.scss
  src/app/auth/components/registration-form/registration-form.component.html
  src/app/auth/components/registration-form/registration-form.component.scss
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/services/navigation/routes.ts
  src/styles.scss
Labels: styling

fix: tests
  src/app/app.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/services/theme-switch/theme-switch.service.spec.ts
  src/app/core/services/theme-switch/theme-switch.service.ts
  src/app/shared/services/message.service.spec.ts
Labels: none

feat: implement user login
  src/app/api/services/login/login.service.ts
  src/app/auth/components/login-form/login-form.component.html
  src/app/auth/components/login-form/login-form.component.scss
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.scss
  src/app/auth/services/auth/auth.service.ts
Labels: styling

fix: tests
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
Labels: none

fix: login form title
  src/app/auth/components/login-form/login-form.component.html
Labels: none

feat: implement user logout
  src/app/api/interceptors/error-interceptor.ts
  src/app/api/interceptors/http-interceptor.ts
  src/app/api/schemas/auth-response.ts
  src/app/api/schemas/logout-response.ts
  src/app/api/services/logout/logout.service.ts
  src/app/api/services/token/token.service.ts
  src/app/app.config.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/constants/store-keys.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
Labels: styling

fix: remove unused api error
  src/app/api/interceptors/error-interceptor.ts
  src/app/api/models/api-error.ts
  src/app/api/schemas/api-error-response.ts
  src/app/api/schemas/overriden-http-response.ts
  src/app/app.config.ts
  src/app/auth/services/auth/auth.service.ts
Labels: none

fix: tests
  src/app/api/services/refresh-token/refresh-token.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/core/components/header/header.component.spec.ts
Labels: none

fix: overridden http error response file name
  src/app/api/schemas/overriden-http-error-response.ts
  src/app/auth/services/auth/auth.service.ts
Labels: none

fix: replace complete with finalize
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/components/registration-form/registration-form.component.ts
Labels: none

feat: implement sidebar
  package.json
  src/app/api/interceptors/http-interceptor.ts
  src/app/app.routes.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/components/sidebar/sidebar.component.scss
  src/app/core/components/sidebar/sidebar.component.spec.ts
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/core/services/navigation/routes.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.scss
  src/app/profile/pages/profile/profile.component.spec.ts
  src/app/profile/pages/profile/profile.component.ts
  src/styles.scss
Labels: styling
