Repository Kleostro/RSSence-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, styling

fix: test
  src/app/core/components/sidebar/sidebar.component.spec.ts
Labels: none

fix: increase the budget
  angular.json
Labels: none

fix: check current user
  src/app/app.component.ts
Labels: none

feat: update navigation with profile pages
  src/app/api/constants/endpoints.ts
  src/app/app.routes.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
Labels: none

fix: linter errors
  src/app/auth/guards/.gitkeep
  src/app/auth/guards/login.guard.ts
Labels: none

feat: implement profile api service
  src/app/api/schemas/profiles-response.ts
  src/app/api/services/profiles/profiles.service.ts
Labels: none

feat: implement profile pages
  src/app/auth/guards/login.guard.spec.ts
  src/app/profile/pages/profile-me/profile-me.component.html
  src/app/profile/pages/profile-me/profile-me.component.scss
  src/app/profile/pages/profile-me/profile-me.component.spec.ts
  src/app/profile/pages/profile-me/profile-me.component.ts
  src/app/profile/pages/profile-settings/profile-settings.component.html
  src/app/profile/pages/profile-settings/profile-settings.component.scss
  src/app/profile/pages/profile-settings/profile-settings.component.spec.ts
  src/app/profile/pages/profile-settings/profile-settings.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.ts
  src/app/profile/services/profile/profile.service.ts
Labels: styling

fix: profile button in sidebar
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/components/sidebar/sidebar.component.ts
Labels: none

feat: add endpoint for username check
  src/app/api/constants/endpoints.ts
Labels: none

feat: implement profile form
  public/img/svg/avatar-placeholder.svg
  src/app/api/schemas/profiles-response.ts
  src/app/api/services/profiles/profiles.service.ts
  src/app/profile/components/profile-form/profile-form.component.html
  src/app/profile/components/profile-form/profile-form.component.scss
  src/app/profile/components/profile-form/profile-form.component.spec.ts
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/profile/services/profile/profile.service.ts
  src/app/shared/services/file-handling/file-handling.service.spec.ts
  src/app/shared/services/file-handling/file-handling.service.ts
Labels: styling

refactor: remove unused compnent
  src/app/auth/components/logout/logout.component.html
  src/app/auth/components/logout/logout.component.scss
  src/app/auth/components/logout/logout.component.spec.ts
  src/app/auth/components/logout/logout.component.ts
Labels: styling

feat: implement directives for drag and drop
  src/app/shared/directives/base-drag-and-drop/base-drag-and-drop.directive.ts
  src/app/shared/directives/input-drag-and-drop/input-drag-and-drop.directive.ts
Labels: none

refactor: move message service into folder
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/shared/services/constants/message.ts
  src/app/shared/services/message/message.service.spec.ts
  src/app/shared/services/message/message.service.ts
Labels: none

feat: implement global loader for getting data
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/services/loader/loader.service.spec.ts
  src/app/core/services/loader/loader.service.ts
Labels: styling

feat: implement username check
  src/app/profile/validators/username-availability.ts
Labels: none

feat: display the profile info of the current user
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/profile/components/profile-bio/profile-bio.component.html
  src/app/profile/components/profile-bio/profile-bio.component.scss
  src/app/profile/components/profile-bio/profile-bio.component.spec.ts
  src/app/profile/components/profile-bio/profile-bio.component.ts
  src/app/profile/components/profile-header/profile-header.component.html
  src/app/profile/components/profile-header/profile-header.component.scss
  src/app/profile/components/profile-header/profile-header.component.spec.ts
  src/app/profile/components/profile-header/profile-header.component.ts
  src/app/profile/components/profile-preview/profile-preview.component.html
  src/app/profile/components/profile-preview/profile-preview.component.scss
  src/app/profile/components/profile-preview/profile-preview.component.spec.ts
  src/app/profile/components/profile-preview/profile-preview.component.ts
  src/app/profile/constants/profile-form.ts
  src/app/profile/interfaces/profile-form.ts
  src/app/profile/pages/profile-me/profile-me.component.html
  src/app/profile/pages/profile-me/profile-me.component.scss
  src/app/profile/pages/profile-me/profile-me.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.scss
  src/app/utils/my-preset.ts
Labels: styling

feat: implement author page
  src/app/api/constants/endpoints.ts
  src/app/api/schemas/authors-response.ts
  src/app/api/services/authors/authors.service.ts
  src/app/app.routes.ts
  src/app/author/pages/author-me/author-me.component.html
  src/app/author/pages/author-me/author-me.component.scss
  src/app/author/pages/author-me/author-me.component.spec.ts
  src/app/author/pages/author-me/author-me.component.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.scss
  src/app/author/pages/author/author.component.spec.ts
  src/app/author/pages/author/author.component.ts
  src/app/author/services/author/author.service.ts
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
Labels: styling

feat: implement author form
  src/app/author/components/author-form/author-form.component.html
  src/app/author/components/author-form/author-form.component.scss
  src/app/author/components/author-form/author-form.component.spec.ts
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/components/author-preview/author-preview.component.html
  src/app/author/components/author-preview/author-preview.component.scss
  src/app/author/components/author-preview/author-preview.component.spec.ts
  src/app/author/components/author-preview/author-preview.component.ts
  src/app/author/constants/author-form.ts
  src/app/author/interfaces/author-form.ts
  src/app/shared/services/constants/message.ts
  src/app/shared/services/file-handling/file-handling.service.ts
  src/app/shared/validators/username-availability.ts
Labels: styling

feat: minor UI profile improvements
  src/app/profile/components/profile-form/profile-form.component.html
  src/app/profile/components/profile-form/profile-form.component.scss
  src/app/profile/components/profile-form/profile-form.component.spec.ts
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/profile/pages/profile-me/profile-me.component.html
  src/app/profile/pages/profile-me/profile-me.component.scss
  src/app/profile/pages/profile-me/profile-me.component.spec.ts
  src/app/profile/pages/profile-me/profile-me.component.ts
Labels: styling

refactor: ensure reusability and improve code readability
  src/app/api/services/authors/authors.service.ts
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.html
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.scss
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.spec.ts
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.ts
  src/app/author/components/author-form/author-form.component.html
  src/app/author/components/author-form/author-form.component.scss
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/components/author-info/author-info.component.html
  src/app/author/components/author-info/author-info.component.scss
  src/app/author/components/author-info/author-info.component.spec.ts
  src/app/author/components/author-info/author-info.component.ts
  src/app/author/components/author-preview/author-preview.component.html
  src/app/author/components/author-preview/author-preview.component.scss
  src/app/author/components/author-preview/author-preview.component.ts
  src/app/author/constants/author-form.ts
  src/app/author/interfaces/author-form.ts
  src/app/author/pages/author-me/author-me.component.html
  src/app/author/pages/author-me/author-me.component.scss
  src/app/author/pages/author-me/author-me.component.spec.ts
  src/app/author/pages/author-me/author-me.component.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.scss
  src/app/author/pages/author/author.component.ts
  src/app/author/services/author-facade/author-facade.service.spec.ts
  src/app/author/services/author-facade/author-facade.service.ts
  src/app/post/components/coauthors-list/coauthors-list.component.html
  src/app/post/components/coauthors-list/coauthors-list.component.scss
  src/app/post/components/coauthors-list/coauthors-list.component.spec.ts
  src/app/post/components/coauthors-list/coauthors-list.component.ts
Labels: styling

refactor: ensure reusability and improve code readability
  src/app/api/services/profiles/profiles.service.ts
  src/app/api/services/users/users.service.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/auth/services/user/user.service.ts
  src/app/author/services/author/author.service.ts
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.html
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.scss
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.spec.ts
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.ts
  src/app/profile/components/profile-header/profile-header.component.html
  src/app/profile/components/profile-info/profile-info.component.html
  src/app/profile/components/profile-info/profile-info.component.scss
  src/app/profile/components/profile-info/profile-info.component.spec.ts
  src/app/profile/components/profile-info/profile-info.component.ts
  src/app/profile/components/profile-preview/profile-preview.component.html
  src/app/profile/constants/profile-form.ts
  src/app/profile/pages/profile-me/profile-me.component.html
  src/app/profile/pages/profile-me/profile-me.component.scss
  src/app/profile/pages/profile-me/profile-me.component.spec.ts
  src/app/profile/pages/profile-me/profile-me.component.ts
  src/app/profile/pages/profile-settings/profile-settings.component.html
  src/app/profile/pages/profile-settings/profile-settings.component.scss
  src/app/profile/pages/profile-settings/profile-settings.component.spec.ts
  src/app/profile/pages/profile-settings/profile-settings.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.scss
  src/app/profile/pages/profile/profile.component.ts
  src/app/profile/services/profile-facade/profile-facade.service.spec.ts
  src/app/profile/services/profile-facade/profile-facade.service.ts
  src/app/profile/services/profile/profile.service.ts
  src/app/profile/validators/username-availability.ts
  src/app/shared/validators/username-availability.ts
Labels: styling

feat: implement modal component
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/modal/modal.component.spec.ts
  src/app/shared/components/modal/modal.component.ts
  src/app/shared/constants/modal-position.ts
  src/app/shared/directives/modal-position/modal-position.directive.ts
  src/app/shared/models/modal-position.ts
  src/app/shared/services/modal/modal.service.spec.ts
  src/app/shared/services/modal/modal.service.ts
Labels: styling

fix: improve code quality with new components
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/profile/components/profile-form/profile-form.component.html
  src/app/profile/components/profile-form/profile-form.component.scss
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/shared/components/file-uploader/file-uploader.component.html
  src/app/shared/components/file-uploader/file-uploader.component.scss
  src/app/shared/components/file-uploader/file-uploader.component.spec.ts
  src/app/shared/components/file-uploader/file-uploader.component.ts
  src/app/shared/components/form-field-error/form-field-error.component.html
  src/app/shared/components/form-field-error/form-field-error.component.scss
  src/app/shared/components/form-field-error/form-field-error.component.spec.ts
  src/app/shared/components/form-field-error/form-field-error.component.ts
  src/app/shared/components/page-loader/page-loader.component.html
  src/app/shared/components/page-loader/page-loader.component.scss
  src/app/shared/components/page-loader/page-loader.component.spec.ts
  src/app/shared/components/page-loader/page-loader.component.ts
  src/app/shared/constants/field-error-key.ts
  src/app/shared/directives/base-drag-and-drop/base-drag-and-drop.directive.ts
  src/app/shared/pipes/time-ago.pipe.ts
  src/app/shared/services/constants/message.ts
  src/app/shared/services/file-handling/file-handling.service.ts
Labels: styling

fix: tests
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.spec.ts
  src/app/author/components/author-info/author-info.component.spec.ts
  src/app/author/pages/author/author.component.spec.ts
  src/app/author/services/author-facade/author-facade.service.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/post/components/coauthors-list/coauthors-list.component.spec.ts
  src/app/post/components/post-avatar/post-avatar.component.spec.ts
  src/app/post/components/post-form/post-form.component.spec.ts
  src/app/post/components/post-preview/post-preview.component.spec.ts
  src/app/post/components/post/post.component.spec.ts
  src/app/post/components/posts-list/posts-list.component.spec.ts
  src/app/post/pages/post-detailed/post-detailed.component.spec.ts
  src/app/post/pages/posts/posts.component.spec.ts
  src/app/post/services/post-facade/post-facade.service.spec.ts
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.spec.ts
  src/app/profile/components/profile-info/profile-info.component.spec.ts
  src/app/profile/pages/profile/profile.component.spec.ts
  src/app/profile/services/profile-facade/profile-facade.service.spec.ts
  src/app/shared/components/file-uploader/file-uploader.component.spec.ts
  src/app/shared/components/form-field-error/form-field-error.component.spec.ts
Labels: none

chore: remove tests
  .github/workflows/test.yml
  angular.json
  eslint.config.js
  husky_scripts/validate-push.sh
  package.json
  setup-jest.ts
  src/app/api/services/refresh-token/refresh-token.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/api/services/token/token.service.spec.ts
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/guards/login.guard.spec.ts
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/author/components/author-form/author-form.component.spec.ts
  src/app/author/components/author-preview/author-preview.component.spec.ts
  src/app/core/components/sidebar/sidebar.component.spec.ts
  src/app/core/pages/not-found/not-found.component.spec.ts
  src/app/core/services/loader/loader.service.spec.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/core/services/theme-switch/theme-switch.service.spec.ts
  src/app/home/pages/home/home.component.spec.ts
  src/app/profile/components/profile-bio/profile-bio.component.spec.ts
  src/app/profile/components/profile-form/profile-form.component.spec.ts
  src/app/profile/components/profile-header/profile-header.component.spec.ts
  src/app/profile/components/profile-preview/profile-preview.component.spec.ts
  src/app/shared/components/modal/modal.component.spec.ts
  src/app/shared/components/page-loader/page-loader.component.spec.ts
  src/app/shared/services/file-handling/file-handling.service.spec.ts
  src/app/shared/services/message/message.service.spec.ts
  src/app/shared/services/modal/modal.service.spec.ts
  src/app/utils/tests/trim-data.spec.ts
  tsconfig.spec.json
Labels: none

ci: update branch validation pattern
  .validate-branch-namerc.cjs
Labels: none

docs: update PR template
  .github/pull_request_template.md
Labels: documentation

.github/labeler.yml:

ci:
  - any:
      - changed-files:
          - any-glob-to-any-file: '.github/*'
          - any-glob-to-any-file: '.husky/*'
          - any-glob-to-any-file: '.husky_scripts/*'
          - any-glob-to-any-file: '.lintstagedrc'
          - any-glob-to-any-file: '.commitlintrc.json'
          - any-glob-to-any-file: '.validate-branch-name.cjs'
      - head-branch:
          - '^ci'

chore:
  - any:
      - changed-files:
          - any-glob-to-all-files: '*'
      - head-branch:
          - '^chore'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

feature:
  - head-branch:
      - '^feat'

fix:
  - head-branch:
      - '^fix'
      - '^hotfix'

performance:
  - head-branch:
      - '^perf'

refactor:
  - head-branch:
      - '^refactor'

style:
  - head-branch:
      - '^style'

test:
  - any:
      - head-branch:
          - '^test'
      - changed-files:
          - any-glob-to-any-file: '**/*.spec.ts'

styling:
  - changed-files:
      - any-glob-to-any-file: '**/*.scss'

sprint1:
  - head-branch: 'RS-01'

sprint2:
  - head-branch: 'RS-02'

sprint3:
  - head-branch: 'RS-03'

sprint4:
  - head-branch: 'RS-04'

sprint5:
  - head-branch: 'RS-05'
